.container {
  display: flex;

  .inner_container {
    width: calc(100% - 80px);
    height: calc(100% - 40px);
    background-color: #8ac6d1;
    position: absolute;
    top: 40px;
    left: 80px;
  }
}
