.container {
  width: 100%;
  display: flex;
}

.innerContainer {
  max-width: calc(70% - 20px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px 15px 0 15px;

  .chat_avatar_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  // 正常
  .chat_content_box {
    max-width: calc(100% - 135px);
    margin: 0 10px;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 10px;
    background-color: #d2d2d2cf;

    p {
      display: block;
    }

    .chat_img {
      width: 100%;
      border-radius: 20px;
    }
  }

  // =====

  // 开心到飞起
  .FaceWithSmilingEyes {
    background-color: #d5f3f4;
    color: #464747;
  }

  // 还算满意
  .smilingFaceWithSmilingEyes {
    background-color: #ddf3ff;
    color: #343535;
  }

  // 我要哭死
  .loudlyCryingFace {
    background-color: #4f586b;
    color: #dde2f1;
  }

  // 我好委屈
  .pleadingFace {
    background-color: #e5e1d5;
    color: #353031;
  }

  // 真的无语
  .expressionlessFace {
    background-color: #c3ced4;
    color: #63838b;
  }

  // 怎会这样
  .worriedFace {
    background-color: #e5e2d3;
    color: #37aba9;
  }

  img {
    width: 30%;
    // height: 300px;
    height: auto;
    object-fit: contain;
  }

  // ======

  &:hover .time {
    opacity: 1;
    transition: all 0.5s;
  }

  .time {
    width: 70px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.5s;
  }
}

.recontainer {
  justify-content: flex-end;
}

// 反转
.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;

  .chat_content_box {
    background-color: #8ac6d1;
  }

  // 开心到飞起
  .FaceWithSmilingEyes {
    background-color: #d5f3f4;
    color: #464747;
  }

  // 还算满意
  .smilingFaceWithSmilingEyes {
    background-color: #ddf3ff;
    color: #343535;
  }

  // 我要哭死
  .loudlyCryingFace {
    background-color: #4f586b;
    color: #dde2f1;
  }

  // 我好委屈
  .pleadingFace {
    background-color: #e5e1d5;
    color: #353031;
  }

  // 真的无语
  .expressionlessFace {
    background-color: #c3ced4;
    color: #63838b;
  }

  // 怎会这样
  .worriedFace {
    background-color: #e5e2d3;
    color: #37aba9;
  }
}

.menus {
  display: flex;
  flex-direction: column;

  .menuItem {
    width: 60px;
    height: 25px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover {
      background-color: #f2f3f5;
    }
  }
}
