.container {
  width: 100%;
  height: 40px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  border-bottom: 3px solid black;

  .btn {
    width: 30px !important;
    height: 30px !important;
    background-color: transparent !important;
    border-radius: 5px;
  }

  .selected_btn {
    background-color: black !important;
    color: white !important;
  }

  .selected_icon {
    color: white;
  }
  .icon {
    font-size: 20px;
    stroke-width: 4px;
    color: black;
  }
}
